PORT=3000

APP_BASE_URL=http://localhost:3000
NODE_ENV=development
DEV_MODE=true
COOKIE_SECURE=false

# Salla Embedded App
SALLA_APP_ID=PUT_YOUR_SALLA_APP_ID_HERE

# Session / encryption
SESSION_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
APP_ENCRYPTION_KEY=CHANGE_ME_TO_64_HEX_CHARS

# Admin area
ADMIN_KEY=CHANGE_ME_ADMIN_KEY

# Recovery worker
RECOVERY_WORKER_INTERVAL_MS=15000
ULTRAMSG_TIMEOUT_MS=10000